.header {
  &__group {
    background-color: #000505;
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline: 2em;
    color: #fefcfd;
  }

  &__group__nav {
    margin-right: 0.6em;
  }

  &__group__nav__segment {
    background-color: #fefcfd;
    display: flex;
    justify-content: center;
    margin: 0;
    border-radius: 4px;
  }

  &__group__nav__segment__list {
    margin: 0;
  }

  &__group__nav__segment__tab {
    padding: 8px 16px;
    border-radius: 0;
  }

  .header__group__title{
    font-family: 'Gloock', serif;
  }
  .mantine-tn01rj {
    background-color: #000000;
  }

  @media screen and (min-width: 952px) {
    .header__group__nav__segment {
      display: flex;
    }
    
    .header__group__nav__segment__list {
      display: flex;
    }

    .header__group__nav__segment__tab {
      margin: 0;
    }
    
    .header__group__nav__segment__tab:hover {
      background-color: #dddcdc;
    }
  }


  @media screen and (max-width: 953px) {
    .header__group__nav__segment {
      display: none;
    }
  }

  .header__group__nav__burger {
    display: none;
    cursor: pointer;
  }

  @media screen and (max-width: 953px) {
    .header__group__nav__burger {
      display: block;
    }
  }

  @media screen and (max-width: 953px) {
    .header__group__title{
      font-size: 23px;

      font-family: 'Gloock', serif;
    }
  }

  .header__group__nav__burger:hover {
    color: #dddcdc;
  }

}

.mantine-ub9d20{
  background-color: #000000;
  color: #ffffff;
}

.mantine-nuxg7e {
  color: #ffffff;
}

.mantine-nuxg7e:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.224);
}

.mantine-aikzia {
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.224);
}

.mantine-aikzia:hover {
background-color: #a7a7a799;
}