.header {
  &__group {
    background-color: #000505;
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline: 2em;
    color: #fefcfd;
  }

  &__group__nav {
    margin-right: 1em;
  }



  &__group__nav__segment {
    background-color: #fefcfd;
    display: flex;
    justify-content: center;
    margin: 0;
    border-radius: 4px;
  }

  &__group__nav__segment__list {
    margin: 0;
  }

  &__group__nav__segment__tab {
    padding: 8px 16px;
    border-radius: 0;
  }


  @media screen and (min-width: 924px) {
    .header__group__nav__segment {
      display: flex;
    }
    
    .header__group__nav__segment__list {
      display: flex;
    }

    .header__group__nav__segment__tab {
      margin: 0;
    }
    
    .header__group__nav__segment__tab:hover {
      background-color: #dddcdc;
    }
  }


  @media screen and (max-width: 923px) {
    .header__group__nav__segment {
      display: none;
    }
  }


  .header__group__nav__burger {
    display: none;
    margin-right: 1em;
    cursor: pointer;
  }

  @media screen and (max-width: 923px) {
    .header__group__nav__burger {
      display: block;
    }
  }

  @media screen and (max-width: 923px) {
    .header__group__title{
      font-size: 25px;
    }
  }


  .header__group__nav__burger:hover {
    color: #dddcdc;
  }
}
