.big-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.images-container {
  display: grid;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
  align-items: start;
  align-content: flex-start;
}


.right-column {
  grid-column: 2;
}

.image {
  width: 100%;
  border: 4px solid rgba(0, 0, 0, 0.463);
  box-sizing: border-box;
}

.adjust-height {
  height: 100%;
}
